/* Fullscreen overlay */
// .send-offer-overlay {
//   position: fixed; /* Position it fixed to cover the entire screen */
//   top: 0;
//   left: 0;
//   width: 100vw;  /* Take the full viewport width */
//   height: 100vh; /* Take the full viewport height */
//   background-color: rgba(0, 0, 0, 0.7); /* Dark background with transparency */
//   z-index: 9998; /* Behind the form */
// }

/* Modal form container */
.send-offer-form-details {
  position: fixed; /* Fixed position to keep it on top of the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the form */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 500px;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 9999; /* Ensure form appears above the overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Close button */
.close-popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10001; /* Ensure the close button is above everything */
}

/* Form styling */
h1 {
  text-align: center;
  font-size: 1.8rem;
  color: #374151;
  margin-bottom: 20px;
}

.send-offer-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 0.95rem;
    color: #374151;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      border-color: #4bcdeb; /* Primary color */
    }
  }

  textarea {
    resize: vertical;
  }
}

.checkbox-group {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    margin-right: 10px;
  }

  label {
    font-size: 0.95rem;
    color: #374151;
  }
}

.submit-button {
  background-color: #4bcdeb;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#4bcdeb, 10%);
  }
}
