// Variables
$primary-color: #4BCBEB;
$secondary-color: #94A3B8;
$border-color: #ccc;
$font-family: 'Poppins';
$text-color: #2C3E50;
$background-color: #F8FAFC;
$border-radius: 8px;

.proposals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: #2C3E50;
  // min-height: 100vh; /* Ensures full height so cards can be centered vertically */
  // padding-top: 5%;
}

.proposals-heading {
  font-size: 32px;
  font-weight: 600;
  color: #2C3E50;
  margin-top: 3%;
  margin-left:  5%;
  // margin-bottom: 20px;
  // text-align: center;
}





  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;

    font-family: $font-family;

    span {
      margin-right: 10px;
    }

    .page-controls {
      display: flex;
      gap: 10px;

      span {
        color: $secondary-color;
        cursor: pointer;
      }

      span.current-page {
        color: $primary-color;
        font-weight: bold;
      }
    }

    input {
      width: 50px;
      padding: 5px;
      margin-left: 10px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      text-align: center;
      font-family: $font-family;
    }

    button {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: $border-radius;
      cursor: pointer;
      font-family: $font-family;
    }
  }


