// Variables
$primary-color: #4BCBEB;
$secondary-color: #94A3B8;
$font-family: 'Poppins', sans-serif;
$text-color: #64748b;
$background-color: #F8FAFC;
$border-color: #dae0e7;
$button-color: #00BFFF;
$button-hover-color: darken($button-color, 10%);

// Job Card Styling

.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  margin: 0% 5%;
  padding: 25px;
  padding-right:5%;
  padding-left: 5%;

  &__rate , &__timeline , &__level{
    color: $secondary-color;
  }

  &__rate-head , &__timeline-head, &__level-head{
    color: #0f172a;
    font-weight: 400;
  }


  &:hover {
    background-color: #e7eaee;
    border-color: $text-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure the content takes full width
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; // Increased spacing for better visual hierarchy
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #0f172a;
    font-family: $font-family;
  }

  &__view-button {
    background-color: $button-color;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: $font-family;

    &:hover {
      background-color: $button-hover-color;
    }
  }

  &__info {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 15px;
    color: $text-color;
  }

  &__description {
    font-size: 14px;
    color: $text-color;
    margin-bottom: 20px;
    line-height: 1.5; // Improved readability
  }

  .job-card__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px; /* equivalent to mb-6 in Tailwind */

  .job-card__tag {
    border: 1px solid #94A3B8;  /* equivalent to border-[#94A3B8] in Tailwind */
    border-radius: 20px;        /* equivalent to rounded-2xl in Tailwind */
    padding: 8px;               /* equivalent to p-2 in Tailwind */
    margin-right: 8px;          /* equivalent to mr-2 in Tailwind */
    margin-bottom: 8px;         /* equivalent to mb-2 in Tailwind */
    font-size: 14px;            /* equivalent to text-[14px] in Tailwind */
    color: #94A3B8;             /* equivalent to text-[#94A3B8] in Tailwind */
    font-family: 'Poppins', sans-serif; /* equivalent to font-Poppins in Tailwind */
    background-color: #f4f7f9;
  }
}




  &__extra {
    display: flex;
    gap: 15px;
    align-items: center;  // Ensures stars align well
    font-size: 14px;
    color: $text-color;
  }

  &__verified , &__location , &__rating {
    color: darken($secondary-color, 1%);
    font-weight: 300;
  }


  &__posted-time { // New style for posted time
    color: $secondary-color;
    font-weight: 300;
  }

 
}



