$color-accent: #4bcdeb;
$primary-color: #3b82f6;
$secondary-color: #6b7280;
$gray-color: #f7fafc;
$text-color: #4a5568;
$hover-darken: 10%;
$font-kodchasan: 'Kodchasan', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$color-gray: #64748b;
$color-dark: #2c3e50;
$color-white: #ffffff;
$bg-color: #f7f8fa;

.popup-overlay {
  position: fixed;
  margin-top: 8rem;
  top: 0;
  left: 0;
  width: 0%;
  height: 50%;
  background-color: rgba(168, 166, 166, 0.5); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: $color-white;
  padding: 30px;
  border-radius: 12px;
  width: 380px;
  height: 280px;
  text-align: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-poppins;
}

.message {
  font-size: 24px;
  font-weight: 600;
  color: $color-accent;
  margin-bottom: 15px;
}

.sub-message {
  font-size: 16px;
  color:$text-color;
  margin-bottom: 35px;
}

.emoji {
  margin-left: 10px;
}

.close-button {
    background-color: white; // Or whichever color you'd prefer
    color: $color-dark;// Ensure the text color contrasts the background
    padding: 12px 22px; // Add padding for proper size
    border-radius: 8px; // Rounded corners
    cursor: pointer;
    font-size: 16px;
    border: none; // No border
    // transition: background-color 0.3s ease;
  
    &:hover {
      background-color:$color-accent;
    }
  }
  

// .close-button:hover {
//   background-color: darken($primary-color, $hover-darken);
// }
