.jobs-page {
    .jobs-heading {
      font-size: 24px;
      font-weight: 600;
      color: #0f172a;
    }

    .search-container {
      display: flex;
    //   align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      width: 80%;
    
      margin: 20px auto;
      border: 1px solid #94a3b8;
    }
  
    .search-bar-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
      // border: 1px solid #dae0e7;
      border: 1px solid #050505;
      border-radius: 20px;
      padding: 10px;
      margin-right: 20px;
      // max-width: 1200px;
      
    }
  
    .filter-wrapper {
      position: relative;
      border: 1px solid #94a3b8;
  
      .filter-button {
        display: flex;
        align-items: center;
        border: 1px solid #94a3b8; /* equivalent to border-[#94A3B8] in Tailwind */
        border-radius: 20px; /* equivalent to rounded-2xl in Tailwind */
        padding: 8px 50%; /* equivalent to p-2 in Tailwind */
        margin-right: 2%; 
        font-size: 14px; /* equivalent to text-[14px] in Tailwind */
        color: #383a3d; /* equivalent to text-[#94A3B8] in Tailwind */
        font-family: "Poppins", sans-serif; /* equivalent to font-Poppins in Tailwind */
        background-color: #f4f7f9;
        width: 30%;
        cursor: pointer; // Adds a pointer cursor on hover
    
       
      
        // .filter-icon {
        //   padding-left: 1%;
        // }
      }
  
      .filter-dropdown {
        display: none;
        position: absolute;
        // top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #dae0e7;
        border-radius: 8px;
        padding: 20px;
        z-index: 100;

        &__inner{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
           

        }
  
        input {
          margin-right: 10px;
        }
  
        .filter-done-button {
          background-color: #00bfff;
          color: white;
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          margin-top: 10px;
          cursor: pointer;
        }
      }
  
      &:hover .filter-dropdown {
        display: block;
      }
    }
  
    .post-job-button {
      margin-left: auto;
      background-color: #00bfff;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
  
      &:hover {
        background-color: darken(#00bfff, 10%);
      }
    }
  
    .jobs-container {
      margin: 20px 6%;
    }
  
    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
      }
    }