// Variables
$primary-color: #4BCBEB;
$secondary-color: #94A3B8;
$font-family: 'Poppins', sans-serif;
$text-color: #64748b;
$background-color: #F8FAFC;
$border-color: #DEE2E7;
$dark-text-color: #0F172A;
$light-grey-color: #E2E8F0;
// $hover-background: #f0f8ff;

// Main Page Container
.jobs-page {
  // background-color: $background-color;
  font-family: $font-family;

  .jobs-heading {
    font-size: 28px;
    font-weight: 300;
    color: $dark-text-color;
    margin: 3% 5%;
    padding-left: 5%;
  }


}

