.input-container {
    margin-bottom: 1rem;
  }
  
  .input-label {
    display: block;
    font-weight: bold;
  }
  
  .input-field {
    width: 60%;
    height:40%; // Adjust the width as needed
    padding: 0.5rem;
    font-family: Roboto;
    border: 1px solid #ccc;
    border-radius: 1rem;
    resize: vertical; // Allow vertical resizing of the textarea
  }
  