
$primary-color: #3b82f6;
$secondary-color: #6b7280;
$gray-color: #f7fafc;
$text-color: #4a5568;
$border-color: #e2e8f0;
$hover-darken: 10%;
$font-kodchasan: 'Kodchasan', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$color-gray: #64748b;
$color-dark: #2c3e50;
$color-white: #ffffff;
$color-accent: #4bcdeb;
$bg-color: #f7f8fa;



.notification-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    font-family: $font-poppins;
    // border-bottom: 1px solid #ddd;
  
    .notification-icon {
      margin-right: 15px;
    }
  
    .notification-content {
      flex-grow: 1;
  
      h3 {
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
        color: #333;
        font-family:$font-poppins;
        font-weight: 500;
      }
  
      p {
        margin: 0;
        color: #666;
      }
    }
  
    .notification-time {
      margin-right: 20px;
      font-size: 14px;
      justify-content: flex-end;
      justify-items: end;
      color: #999;
      text-align: right;
      margin-left: 400px;
      margin-top: 2px;
    }
  }
  