.Carousel {
    display: flex;
    align-items: center;
  }
  
  .cards-container {
    overflow-x: hidden;
    display: flex;
  }
  
  .PortfolioCard {
    flex-shrink: 0;
  }
  
  .prev {
    margin-right: 10px; /* Adjust as needed */
  }
  
  .next {
    margin-left: 10px; /* Adjust as needed */
  }

  .navigation {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Example background color */
    color: white; /* Text color */
    border-radius: 50%; /* Makes it round */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .navigation:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darken on hover */
  }
 