// /* Spinner.css */
// .spinner {
//     display: inline-block;
//     width: 80px;
//     height: 80px;
//   }
  
//   .spinner:after {
//     content: " ";
//     display: block;
//     width: 64px;
//     height: 64px;
//     margin: 8px;
//     border-radius: 50%;
//     border: 6px solid #f3f3f3;
//     border-color: #f3f3f3 transparent #f3f3f3 transparent;
//     animation: spin 1.2s linear infinite;
//   }
  
//   @keyframes spin {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }
  

/* styles.scss */
.spinner-container {
  display: inline-block;
}

.spinner-container.center {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  width: 100%; /* Take full width of the container */
  height: 100%; /* Take full height if you want vertical centering */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

.spinner {
  display: inline-block;
  width: inherit;
  height: inherit;
}

.spinner:after {
  content: " ";
  display: block;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  border: 6px solid #4BCBEB;
  border-color: #4BCBEB transparent #4BCBEB transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


