
$primary-color: #3b82f6;
$secondary-color: #6b7280;
$gray-color: #f7fafc;
$text-color: #4a5568;
$border-color: #e2e8f0;
$hover-darken: 10%;
$font-kodchasan: 'Kodchasan', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$color-gray: #64748b;
$color-dark: #2c3e50;
$color-white: #ffffff;
$color-accent: #4bcdeb;
$bg-color: #f7f8fa;
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-family: $font-poppins;
  }
  
  .popup-container {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:#6b7280;// Grey background
    border: none;
    width: 25px; // Adjust size to be smaller
    height: 25px;
    border-radius: 50%; // Make it circular
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .close-button:hover {
    background-color: #aaa; // Darker on hover
  }
  
  .popup-title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
  
  .review-section{
    font-size: 500;
    margin-bottom: 1rem;
  }
  .rating-section {
    margin-bottom: 20px;
    
  }
  .rating{
    font-size: 1rem;
    font-weight: 400;
  }
  .titleBox{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .review-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    resize: none;
  }
  
  .review-textarea:focus {
    border-color:$color-accent;
  }
  
  .rating-section h4 {
    margin-bottom: 10px;
  }
  
  .stars {
    display: flex;
  }
  
  .star {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .star.filled {
    color: #f39c12;
  }
  
  .submit-section {
    text-align: center;
  }
  
  .submit-button {
    background-color: $color-accent;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: $color-accent;
  }
  