.carousel-wrapper {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
}

.carousel-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  margin: 0 40px;
  background-color: #ccc;
}

.carousel-track {
  display: flex;
  width: 100%;
}

.carousel-card {
  flex-shrink: 0;
  padding: 0 10px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card-inner {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  height: 100%;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #e2e8f0;
}

.card-title {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #2d3748;
  width: 100%;
  text-align: center;
}

.carousel-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  border: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 1;

  &.left{
    width: 25%;
  }


  &.right{
    width: 25%;
  }

  &:hover {
    background: #f7fafc;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background: white;
    }
  }
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 100%;
}

.pdf-link {
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
}

// Responsive styles
@media (max-width: 1024px) {
  .carousel-card {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .carousel-card {
    width: 100%;
  }

  .carousel-viewport {
    margin: 0 20px;
  }
}
